body{
    display: block;
    justify-content: center;
    height: 100vh;
    margin: 5% 30%;
}

#primero{
   width: 500px;
   display: block;
   justify-content: center;
   text-align: center;
    flex-direction: column;
}

#segundo{
    width: 500px;
    display: block;
   justify-content: center;
    text-align: center;
    flex-direction: column;
}

#tercero{
    width: 500px;
    display: block;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

#boton{
    border-radius: 5px;
    
    
}

@media screen and (max-width:640px){
    body{
        background-color: darkgrey;
        font-size: 20px;
    }
    #boton{
        padding: 2em;
        background-color: green;
        border-radius: 0%;
    }
}

@media screen and (min-height : 641px ) and ( max-width : 1280px){
    #boton{
        border-radius: 5px;
        cursor: pointer;
        
    }
    body{
        background-color:grey;
        margin: auto;
        display: flex;
        text-align: start;
    }
    
}
@media screen and (min-width:1281px) {
    body {
        margin: 5% 30%;
        display: block;
        justify-content: center;
        background-color: hotpink;
        display: flex;
        flex-direction: column-reverse;
        
    }
    #primero{
        background-color: black;
        color: white;
        width: 100%;
    }
    #segundo{
        background-color: black;
        color: white;
        width: 50%;
    }
    #tercero{
        background-color: black;
        color: white;
        width: 50%;
    }

}

@media print{
    #boton{
        display: none;
    }
    body{
        font-size: 14px;
        font-style: serif;
        background-color: none;
    }
}

